<div>
    <h1 class="title-text my-3">
        Tickets registrados

    </h1>

    <div class="row">
        {{#each docs}}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                     {{ doc.asunto }} <i class="fas fa-edit"></i></a>
                    </h4>
                    <p><b>Descripción General:</b> 
                    <br>{{ doc.desc}} </p>
                    <p><b>Empresa:</b> {{ doc.empresa}} </p>
                    {{!-- Open ticket --}}
                    <form action="/Tickets/open/{{doc.folioGenerado}}" method="GET">
                        <input type="hidden" name="_method" value="GET">
                        <button type="submit" class="btn btn-success btn-block btn-sm">Responder</button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">No hay tickets por atender</p> 
            </div>
        </div>
        {{/each}}
    </div>
</div>