<div>
    <h1 class="title-text">
        Tickets registrados

        Hola Administrador con el e-mail
    </h1>

    <div class="row">
        {{#each docs}}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{ doc.name }} <a href="/Agencias/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>Descripción General: {{ doc.description }} </p>
                    <p>Fecha de creación: {{ doc.date }} </p>
                    <!-- DELETE REQUEST -->
                    <form action="/Agencias/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <p class="lead">No hay tickets por atender</p> 
            </div>
        </div>
        {{/each}}
    </div>
</div>